.keep-app{
    font-size: 10px;
}

.keep-header{
    padding: 1em;
}

.keep-upper-header{
    padding-inline: 1em;
}

.keep-upper-header h1{
    margin: 0;
    font-size: 3em;
}
.keep-upper-header button{
    align-self: flex-start;
    border: 0.2em solid #e0ebeb;
    background-color: #24527a;
    color: #e0ebeb;
    padding: 0.6em;
    width: 8em;
    font-size: 1.2em;
    font-weight: 700;
    border-radius: 0.8em;
    outline: none;
    transition: 0.4s;
}

.keep-upper-header button:hover{
    
    background-color: #e0ebeb;
    color: #24527a;
    border: 0.2em solid #24527a;
}

.note-list-container{
    background-color: var(--clr1);
    padding-block-end: 2.5em;
}

.note-list{
    max-width: 1080px;
    column-width: 18em;
    padding:1em;
    column-gap: 1.4em;
    margin: auto;
}

.note-list.pinned{
    max-width: 940px;
    column-gap: 1.75em
}

.note{
    background-color: var(--clr3);
    z-index: 2;
    break-inside: avoid;
    font-size: 2em;
    position:relative;
    border-radius:1em;
    transition: 0.2s;
    transition-delay: 0.3s;
    min-height: 7em;
    max-width: 19.2em;
    margin-block-end: 1.4em;
    overflow: hidden;
    text-align: center;
}

.note:hover{
    /* padding-block-end: 2.5em; */
}

.note:hover + .note{
    font-size: small;
    z-index: 0;
}
.note:hover > .note-options.actions{
    /* transform: translateY(100%); */
    background-color: #435552;
}

.note:hover > .icon.duplicate,
.note:hover > .note-options.actions{

    cursor: pointer;
    opacity:1;
}
.note.pinned{
    outline: #f8b400 outset 0.3em;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.7);
}

.note-header{
    margin-block-end: 0.4em;
}

.note-content{
    /* width: 90%; */
    /* margin-inline: auto; */
    transition:0.2s;
}

img.note-content{
    object-fit: contain;
    border-end-end-radius: 1em;
    border-end-start-radius: 1em;
    width: 100%;

}

.note:hover img.note-content{
    border-radius: 0;
}

.pin{
    filter: invert(91%) sepia(15%) saturate(110%) hue-rotate(139deg) brightness(105%) contrast(84%);
    position:absolute;
    height:2em;
    top:0.2em;
    left:0.2em;
}


.note-options{
    padding: 0.4em;
    justify-content: flex-end;
    gap: 0.4em;
    transition: 0.2s;
}
.note-options.actions{
    position: absolute;
    z-index: 1;
    bottom:0;
    opacity: 0;
    transition-delay: 0.3s;
}



.icon{
    cursor: pointer;
    background-color: #a7bcb957;
    border-radius: 50%;
    padding: 0.2em;
    transition: 0.2s;
    height: 1.8em;

}

.icon.toggled{
    background-color: rgb(251, 189, 0);
    filter: invert(100%) sepia(4%) saturate(137%) hue-rotate(21deg) brightness(114%) contrast(85%);
}


.icon:hover{
    background-color: rgb(251, 189, 0);
}

.icon.pinned{
    filter: invert(91%) sepia(15%) saturate(110%) hue-rotate(139deg) brightness(105%) contrast(84%);
}

.icon.duplicate{
    position: absolute;
    top: 0.1em;
    right: 0.1em;
    opacity: 0;
}

/* MODAL */
.main-screen{
    z-index: 1;
    transition: 0.1s;
    opacity: 0;
    position: fixed;
    inset: 0;
    background-color:#142d4cb4;
    pointer-events: none;
  }


.modal{
    background-color: #e0ebeb;
    font-size: 1.5em;
    z-index: 2;
    color: #24527a;
    border-radius: 1em;
    box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.63);
    transition: 0.2s;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
}

.modal.on{
   top:50% 
}
.modal.on, .main-screen.on{
    opacity: 1;
    pointer-events: all;
}

.note-edit{
    padding: 2em;

}

.note-options.types {
    position: relative;
    top: 0;
    opacity: 0.8;
}

.color-picker{
    margin-inline:1em;
    gap: 0.5em;
}

.color-radio{
    border-radius: 0.2em;
    height: 1.5em;
    width: 1.5em;
    transition: 0.2s
}

.color-radio:hover{
    height: 1.8em;
    width: 1.8em;
    /* box-shadow: 0px 2px 0.2em 5px rgba(0,0,0,0.4); */
}



/* FORM */
.input-box{
   position: relative;
   width: 100%;
   padding: 1em;
}

 .input-box input,
 .input-box textarea{
    background-color: #e0ebeb62;
    color: var(--clr4);
    border: none;
    padding: 0.8em;
    width: 100%;
    font-size: 2em;
    border-radius: 0.8em;
    outline: none;
    transition: 0.4s;
}
 .input-box span {
    color: #24527a;
    position: absolute;
    left: 1em;
    padding: 0.75em;
    pointer-events: none;
    font-size: 1.5em;
    font-weight: 700;
    transition: 0.4s;
    
}
.input-box textarea{
    font-family:latin;
}
 
 .input-box input:focus ~ span,
 .input-box textarea:focus ~ span{
    background-color: transparent;
    transform: translateX(1em) translateY(-0.45em);
    font-size: 1.3em;
    padding: 0 0.6em;
    letter-spacing: 0.1em;
}

.input-box input:valid ~ span,
.input-box textarea:valid ~ span{
    opacity:0;
    user-select: none;
}

 .input-box input:valid,
.input-box textarea:valid{
    background-color: transparent;

}

.input-box input:focus,
 .input-box textarea:focus{
    background-color: #e0ebeb62;
 }

.note-edit button{
    align-self: flex-start;
    border: 0.2em solid #42b883;
    background-color: #435552;
    color: #42b883;
    padding: 0.6em;
    width: 8em;
    font-size: 1.2em;
    font-weight: 700;
    border-radius: 0.8em;
    outline: none;
    transition: 0.4s;
}

.note-edit button:hover{
    
    background-color: #e0ebeb;
    color: #24527a;
    border: 0.2em solid #24527a;
}

.note-edit .delete-todo{
    position:absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: max-content;
    padding: 0;
}

/* FILTERS */
.input-box.filter input[type ="text"]{
    font-weight: 700;
    font-size: 1.5em;
    box-shadow: 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
}

.type-filter{
        /* justify-content: end; */
        position: absolute;
        right: 1em;
        transform: translateY(-104%);
        opacity: 0.7;
        height: 3.8em;
        gap: 0.2em;
}