.email-preview{
  cursor: pointer;
  border: 1px black solid;
}

.white{
  background-color: beige;
  font-weight: bold;
}

.grey{
  background-color: var(--clr1);
}

.email-list{
  margin-top: 20px;
}