li{
  padding: 10px;
  cursor: pointer;
  border-bottom: 0.5px rgb(164, 165, 168) solid;
  display: grid;
  grid-template-columns: 15% 40% 15% 15% 15%;
  align-items: center;
  justify-items: flex-start;
}
li:hover{
  border-bottom: 3px rgb(164, 165, 168) solid;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  border-radius: 10px;
  background: rgb(226, 231, 233);
}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: rgb(182, 170, 192);
}

ul{
  padding: 20px;
  height: 50vh;
  overflow-y:auto;
  border-radius: 10px;
}

.email-list{
  padding: 20px;
  background-color: rgb(197, 183, 183);
  border-radius: 10px;
}

/* *{
  font-family: Fuzzy Bubbles;
} */

@media (max-width:658px){
  li{
   display: flex;
   flex-direction: column;
   gap: 5px;
  }
}

.date-preview{
  justify-self: flex-end;
}


.white{
  background-color: rgb(241, 239, 239);
  font-weight: bold;
}

.grey{
  background-color: rgb(216, 209, 209);
}

.gmail-app{
  background-color: rgb(241, 244, 255);
}

.email-list{
  margin-top: 20px;
}

.composed-form{
  position: fixed;
  left:100%;
  top: 100%;
  transform: translate(-100% , -100%);
  flex-direction: column;
  
 
}

.composed-form>*{
  width: 35vw;
}

.composed-form textarea{
  height: 30vh;
  border: 0px black;
  resize: none;
}

.to , .subject{
  border: 0px black;
  border-bottom: 1px grey solid;
}

.form-header button{
  background-color: var(--clr1);
  border: 0px black;
}

.form-header{
  background-color: var(--clr1);
}


.filter-container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.search{
  border-radius: 10px;
  border: 0.5px grey solid;
  width: 300px;
  background-color: rgb(247, 244, 255);
}

.filter-container h1{
  font-size: 60px;
  margin-bottom: 0px;
}

.point{
  color: forestgreen;
}

.folder-list{
  display: flex;
  gap: 20px;
  
}

button{
  font-size: larger;
  padding: 10px;
  background-color: gainsboro;
  border-radius: 10px;
  border: 0px black;
  transition: 1s;
}

@media (max-width:658px){
  button{
   font-size: small;
   padding: 2px;
  }
  .search{
    width: 220px;
  }
  .composed-form>*{
    width: 98vw;
  }
}

button:hover{
  background-color: rgb(151, 146, 146);
  /* font-size: x-large; */
}

.details-container{
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(197, 183, 183);
  border-radius: 10px;
}

.email-details{
  overflow-y: auto;
  height: 50vh;
  padding: 20px;
  background-color: antiquewhite;
  border-radius: 10px;
}

.email-details h1{
  font-size: x-large;
}

.app-footer{
  margin-top: 20px;
}

.delete{
  height: 8px;
  width: 8px;
  justify-self: center;
}
